<h2> Setup Attributes</h2>

<div class="form-description">
    <form id="forged-attributes" onsubmit="event.preventDefault();">
        <div class="form-content" style="display: flex">
            <input class="setup-config" type="number" name="groups"
                value="{{number}}" />
        </div>

        
    <button id="submit" type="submit">Save</button>
    </form>
</div>